body {
  header {
    margin-top: 5vh;
    max-width: 100%;
  } // closes header

  .title {
    font-size: 4rem;
    text-align: center;
    margin: 5% auto;
    font-weight: bold;
  } // closes title
} // closes body
